
body
{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

.hex {
    margin-top: 70px;
    width: 20vw;
    height: 11.54vw;
    background: #6C6;
    position: relative;
}
.hex:before, .hex:after {
    content:"";
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    position: absolute;
}
.hex:before {
    top: -59px;
    border-bottom: 60px solid #6C6;
}
.hex:after {
    bottom: -59px;
    border-top: 60px solid #6C6;
}
