
body
{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

.hex {
    margin-top: 3.55vw;
    width: 20vw;
    height: 11.54vw;
    background: #6C6;
    position: relative;
}
.hex::before, .hex::after {
    content:"";
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    position: absolute;
}
.hex::before {
    top: -6vw;
    border-bottom: 6vw solid #6C6;
}
.hex::after {
    bottom: -6vw;
    border-top: 6vw solid #6C6;
}
